<%-include('../../partials/admin/head')%>
<div class="row">
    <form action="/generate-fake-posts" method="post">
        <div class="form-group">
            <h1>CREATE POSTS</h1>

            <input type="number" class="form-control">
        </div>
        <button type="btn btn-info">Create Posts</button>
    </form>
</div>

<%-include('../../partials/admin/body')%>